# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

frontend/node_modules
#build/js
npm-debug.log

buttons/__pycache__/
buttons/migrations/__pycache__/
db.sqlite3
explore/__pycache__/
